!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/js/angular.min.js')
    script(src='/js/model.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap.js')
    script(src='/js/jquery.js')
  body
    block content